<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update school</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container-fluid">
        <div th:replace="fragments/navbar"></div>
        <div class="container py-4">
            <div class="p-5 mb-4 bg-light rounded-3">
                <div class="container-fluid py-5">
                    <h1 class="display-5 fw-bold">Update school</h1>
                    <form action="#" method="post" th:action="@{/school/update}" th:object="${school}">
                        <div class="form-group mb-3">
                            <label for="name">School name</label>
                            <input class="form-control" id="name" th:field="*{name}" type="text" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="city">City</label>
                            <input class="form-control" id="city" th:field="*{city}" type="text" required>
                        </div>
                        <div class="form-group mb-3">
                            <label for="phone">Phone</label>
                            <input class="form-control" id="phone" th:field="*{phone}" type="text" required>
                        </div>
                        <input id="id" th:field="*{id}" type="hidden">
                        <input id="active" th:field="*{active}" type="hidden">
                        <a class="btn btn-light mb-3" type="button" href="/school">Cancel</a>
                        <button class="btn btn-outline-primary mb-3" type="submit">Update</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/script-fragment"></div>
</body>
</html>